{% extends "base.html" %}

{% block content %}
    <div class="container">
        <div>
            <a href="https://www.zhihu.com/question/23050577">知乎上关于健康的精彩问答</a>
        </div>
        <div>
            <a href="http://www.duitang.com/blogs/tag/%E5%8C%BB%E5%AD%A6%E7%BE%8E%E5%9B%BE/">
                堆糖上的医学美图</a>
        </div>
        <div>
            <a href="http://dxy.com/">丁香医生</a>
            国内最专业医药互联网网站。
        </div>
        <div>
            <a href="http://health.sohu.com/">健康频道-搜狐</a>
            搜狐网健康频道打造的健康和保健常识、医疗常识、疾病查询、医学动态资讯等医学信息平台。
        </div>
        <div>
            <a href="http://www.39.net/">39健康网</a>
            39健康网,专业的健康资讯门户网站,中国领先的健康门户网站...
        </div>
    </div>
    <!-- scripts and styles -->
    {% style "/css/home.css" %}
{% endblock %}
