circle {
  fill-opacity: 0.5; }

circle:hover {
  fill-opacity: 0.8; }

circle.left {
  fill: brown; }

circle.right {
  fill: steelblue; }

circle.bottom {
  fill: green; }

.btn-search {
  width: 100px; }

.drug-img {
  width: 150px;
  height: 150px; }
